@using System.Globalization
@model IEnumerable<E_Commerce_Payment_API.Models.Product>


@{
    ViewData["Title"] = "Seller's Product page";
}

<div class="text-center">
    <p style="font-size:250%;" class="display-4"> In this page you will be able to Edit your products information, and delete them</p>
</div>

<br>
<br>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
             </th>
             <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>  
            <th></th>       
        </tr>
    </thead>
    <tbody>
        @if(Model !=null) { 
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @{
                         if(item.Description == null || item.Description.Equals("") || item.Description.Equals(" ")) {
                              item.Description = "No description available";
                         }
                    }
                    @Html.DisplayFor(model => item.Description)
                </td>
                <td>
                    @{
                        var formattedPrice = "";
                        formattedPrice = item.Price.ToString("C2", CultureInfo.CurrentCulture);
                    }
                    @Html.DisplayFor(model => formattedPrice)
                </td>
                <td>
                    @Html.DisplayFor(model => item.StockQuantity)
                </td>
                <td>
                    @{
                        var formattedWeight = "";
                        formattedWeight = String.Format("{0:N2} Kg", item.Weight);
                    }
                    @Html.DisplayFor(model => formattedWeight)
                </td>
                <td>
                     <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-primary">Edit</button></a>
                </td>
                <td>
                    <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.Id"><button class="btn btn-danger">Delete product</button></a>
                </td>

            </tr>
        }
        } else {
            <p>There are no products yet...</p>
        } 
    </tbody>
</table>


<a class="nav-link text-light col" asp-area="" asp-controller="Seller" asp-action="SellerActionsPage"><button class="btn btn-secondary">Back</button></a>