@using System.Globalization
@using System.Text.Json;
@model IEnumerable<E_Commerce_Payment_API.Models.Product>


@{
    ViewData["Title"] = "Products in your cart";
}

<div class="text-center">
    <p style="font-size:250%;" class="display-4">In this page you will be able see all products and add them to your cart</p>
</div>

<br>

<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
             </th>
             <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
            <th type="hidden">

            </th>
            <th>
               Quantity in cart
            </th>
            <th type="hidden">

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>  
            <th></th>       
        </tr>
    </thead>
    <tbody>
        @if(Model !=null) { 
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @{
                        var formattedPrice = "";
                        if(item.Price.Equals(null) || item.Price.Equals(" ") ) {
                         formattedPrice = " X ";
                        } else {
                         formattedPrice = item.Price.ToString("C2", CultureInfo.CurrentCulture);
                        }
                    }
                    @Html.DisplayFor(model => formattedPrice)
                </td>
                <td type="hidden" id="totalQuantity" runat="server">
                    @Html.DisplayFor(model => item.StockQuantity)
                </td>
                <td>
                </td>              
                <td >
                    <button id="increase" type="button" class="btn btn-primary">
                         <span class="fa fa-plus" style="color:white"></span></button>
                    @{
                         var boughtQuantity = 1;
                    }
                    <span id="quantity">@Html.DisplayFor(model => boughtQuantity)</span>
                    <button id="decrease" type="button" class="btn btn-primary">
                         <span class="fa fa-minus" style="color:white"></span></button>
                </td>
                <td>
                </td>
                <td>
                    @{
                        var formattedWeight = "";
                        formattedWeight = String.Format("{0:N2} Kg", item.Weight);
                    }
                    @Html.DisplayFor(model => formattedWeight)
                </td>
                <td>
                     <a asp-controller="Product" asp-action="Cart" asp-route-id="@item.Id"><button class="btn btn-success">Buy</button></a>
                </td>

            </tr>
        }
        } else {
        } 
    </tbody>
</table>



@section scripts{
     <script type="text/javascript">
          let totalQuantity = @Html.Raw(Json.Serialize(Model)); // Até aqui certo
          totalQuantity = totalQuantity[0].stockQuantity;
          var boughtQuantity = document.getElementById('quantity').innerText;
          boughtQuantity = Number(boughtQuantity);
          const increase = document.getElementById('increase');
          const decrease = document.getElementById('decrease');
          increase.addEventListener("click", increaseQuantity);
          decrease.addEventListener("click", decreaseQuantity);

          function getValue() {
               console.log(totalQuantity);
               return totalQuantity;
          }

          function increaseQuantity(){
               if(Number(boughtQuantity) < totalQuantity) {
                    Number(boughtQuantity++);
                    document.getElementById('quantity').innerText = boughtQuantity;
               }
          }

          function decreaseQuantity(){
               if(Number(boughtQuantity) > 0) {
                    Number(boughtQuantity--);
                    document.getElementById('quantity').innerText = boughtQuantity;
               }
          }
     </script>
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<a class="nav-link text-light col" asp-area="" asp-controller="Product" asp-action="ProductsList"><button class="btn btn-secondary">Back</button></a>